@model IEnumerable<Diploma.Models.Order>

@{
    ViewData["Title"] = "My Products";
}

<h1>My Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>ImageUrl</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price</td>
                <td>@item.Product.ImageUrl</td>
            </tr>
        }
    </tbody>
</table>