@model Product

<h1>Редактирай информацията на продукт</h1>

<form asp-controller="Products" asp-action="Edit" method="post">
    <div>
        <label asp-for="Name">Име</label>
        <input type="text" value="@Model.Name" enabled />
    </div>
    <div>
        <label asp-for="Price">Цена</label>
        <input type="number" value="@Model.Price" enabled />
    </div>
    <div>
        <label asp-for="Stock">Бройка</label>
        <input type="number" value="@Model.Stock" enabled />
    </div>
    <div>
        <label asp-for="ImageUrl">Снимка</label>
        <input type="text" value="@Model.ImageUrl" enabled />
    </div>
    <input type="submit" value="Редактирай" />
    <button asp-action="Index" asp-controller="Products" formmethod="get">Откажи</button>
</form>