@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Контакти";
}

<!DOCTYPE html>
<html>
<head>
    <title>Контакти</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/contacts.css">
</head>
<body>

    <div class="container">
        <h1>About Us</h1>
        <p>
            Welcome to <span style="color: red;"> Didi's Cookieworld, where every cookie is handmade with love</span>!

            At Didi's Cookieworld, we believe that there's nothing quite like the joy of biting into a freshly baked cookie made with care and attention to detail. Our motto, "handmade with love," encapsulates the heart and soul we pour into every batch of cookies we create.

            In addition to crafting delicious cookies, we're dedicated to fostering a sense of community and fun. That's why we host occasional workshops for both kids and adults, giving them the opportunity to roll up their sleeves and make their own cookies from scratch. These workshops are not only educational but also a chance to bond over the shared love of baking.

            Located in the vibrant city of Varna, Bulgaria, Didi's Cookieworld is proud to serve cookie lovers across the country. Whether you're in Sofia, Plovdiv, or any other city, our cookies can reach you thanks to our trusted delivery partners, Ekont and Speedy. With their reliable services, you can enjoy our freshly baked treats from the comfort of your own home.

            Thank you for being a part of the Didi's Cookieworld family. We look forward to delighting your taste buds with our handmade cookies, one delicious bite at a time!.
        </p>

        <h2>Our Mission</h2>
        <p>Insert your mission statement here.</p>

        <h2>Our Vision</h2>
        <p>Insert your vision statement here.</p>

        <h2>Our Values</h2>
        <ul>
            <li>Value 1</li>
            <li>Value 2</li>
            <li>Value 3</li>
        </ul>

        <h2>Meet Our Team</h2>
        <p>Introduce your team members here, along with their roles and brief bios.</p>


        <hr>

    </div>
</body>
</html>
